<div class="section">
  <div class="container">
    <h1><%= t(:editing_student) %></h1>

    <%= render 'form', student: @student %>

    <%= link_to t(:show), @student %> |
    <%= link_to t(:back), students_path %>
  </div>
</div>