<footer class="footer" >
    <div class=" container ">
        <nav>
            <ul>
                <li>
                    <a href="https://www.ipt.pt" target="_blank">IPT</a>
                </li>
                <li>
                    <a href="http://doctrino.ipt.pt" target="_blank">Doctrino</a>
                </li>
            </ul>
        </nav>
        <div class="copyright" id="copyright">
            &copy; <script>document.getElementById('copyright')</script> <%= Time.current.year %> Theme by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>