<div class="section">
  <div class="container">
    <h1><%= t(:editing_user) %></h1>

    <%= render 'form', user: @user %>

    <%= link_to t(:show), @user %> |
    <%= link_to t(:back), users_path %>
  </div>
</div>