<div class="section">
  <div class="container">
    <h1><%= t(:editing_proj) %></h1>

    <%= render 'form', project: @project %>

    <%= link_to t(:show), @project %> |
    <%= link_to t(:back), projects_path %>
    </div>
</div>