<h1><%= t(:edit_project_application) %></h1>

<%= render 'form', project_application: @project_application %>

<%= link_to t(:show), @project_application %> |
<%= link_to t(:back), project_applications_path %>
