<div class="section">
  <div class="container">
    <h1><%= t(:new_project_application) %></h1>

    <%= render 'form', project_application: @project_application %>

    <%= link_to t(:back), project_applications_path %>
    </div>
</div>